html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffe4c4;
  text-align: center;
  font-family: monospace;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  grid-template-areas:
    "display display display display"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . eq"
    ". zero zero eq";
  width: 20rem;
  height: 30rem;
  margin: auto auto;
  border: 1px solid;
  background: #565656;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
}

.display {
  grid-area: display;
  background: #e6ffdb;
  border: 0.1rem solid;
  text-align: left;
  vertical-align: center;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.zero {
  grid-area: zero;
}

.eq {
  grid-area: eq;
  background: orange;
  color: white;
}

.btn {
  cursor: pointer;
  color: black;
  font-size: 2em;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
}

.cursor {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
